<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block body %}
    <h1>Blogsite</h1>
  {% endblock %}
  <hr>
  <footer>
      <section>
      <p>Powered by <a href="http://flask.pocoo.org">Flask</a></p>
      <p>Licence</p>
      <p>Fork me on
        <a href="https://github.com/paulaylingdev/blogsite">GitHub</a>
      </p>
    </section>
    <section>
      <p>Created by Paul Ayling</p>
      <p>Insert Social Networking</p>
    </section>
  </footer>
</body>
</html>
