<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% assets "blogsite_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body class="container">
    <header>
        <h1 class="display-3"><a class="hiddenlink" href="/">Blogsite</a></h1>
        <hr>
    </header>

    <main class="row">
        <section class="col-md-10">
            {% block body %}{% endblock %}
        </section>
        <aside class="col-md-2">
            <nav></nav>
        </aside>
    </main>

    <hr>
    <footer class="row">
        <section class="col-md-6">
            <p>Powered by <a href="http://flask.pocoo.org">Flask</a></p>
            <p>MIT Licence Copyright (c) 2017 Paul Ayling</p>
            <p>Fork me on
                <a href="https://github.com/paulaylingdev/blogsite">GitHub</a>
            </p>
        </section>
        <section class="col-md-6 text-md-right">
            <p>Created by Paul Ayling</p>
            <p>Insert Social Networking</p>
        </section>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
