<!DOCTYPE html>
<body>
{% extends "base_template.html" %}

{% block title %}blogsite{% endblock %}

{% block body %}

  {% for post in posts %}
  <article>
    <section class="row">
      <h2 class="col-md-6 text-capitalize">{{ post.title }}</h2>
      <h5 class="col-md-6 text-md-right">{{ post.pub_date.strftime('%H:%M %d %B %Y') }}</h5>
    </section>
    <hr>
      <section class="text-md-right">
        {% for tag in post.tags %}
        <span style="background-color: rgb(31, 171, 203);margin-left: 10px; border-style: solid; border-radius: 25%;">{{ tag.name }}</span>
        {% endfor %}
      </section>
    <p class="text-justify">{{ post.body }}</p>
  </article>
  {% endfor %}

{% endblock %}
</body>
