{% extends "base_template.html" %}

{% block title %}blogsite - register{% endblock %}

{% block body %}
<section class="row justify-content-center">
    <section class="col-md-4 justify-content-center">
        <form action="{{ url_for('views.register') }}" method="post">
            <section class="form-group">
                <legend>Register a new Account</legend>
                <br>
                {{ form.username.label }}: {{ form.username(class_="form-control") }}
                <br>
                {{ form.email.label }}: {{ form.email(class_="form-control") }}
                <br>
                {{ form.password.label }}: {{ form.password(class_="form-control") }}
                <br>
                <button type="submit" class="btn btn-primary">Register</button>
                {{ form.csrf_token }}
            </section>
        </form>
    </section>
</section>
{% endblock %}